p{
    background-color: green;text-align: center;
}
h1{
    background: linear-gradient(skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center; 

}
.ex {
    background-color: gray;text-align: start;
}
#para1 {
    background-color: black;color: white;
    
}
.Lorem{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    border-style: solid;
    border-width: 12px;
    border-color: red;
    border-radius: 12px;
    padding: 10px;
    border-top-color: green;  
    background: linear-gradient(skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    
}